* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
.conteiner {
    width: 1600px;
    margin: 0 auto;    
}
/*hede*/
.heder__iner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heder__logo {
    margin:84px 98px 0px 80px;
}
.heder__menu {
    display: flex;
    margin:48px 752px 0 0;
}

.heder__menu-item {
    margin-right:40px;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #1B0A42;
    cursor: pointer;
}

.heder__menu-item:last-child {
    margin: 0px;
}
.heder__menu-item:hover {
    color: #33A2E0;
    transition: all 1s;
}

.heder_in {
    margin:48px 40px 0 0;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #1B0A42;
    border: none;
    background-color: white;
    cursor: pointer;

    }
.heder_in:hover {
    color: #33A2E0;
    transition: all 1s;
}
.heder_up {
    margin:48px 40px 0 0;
    padding: 18px 30px;
    background: #33A2E0;
    border-radius: 6px;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    border: none;  
    }
    /*content*/
    .conten {
        display: flex;
        flex-direction: column;
    }

    .content__iner {
        height: 840px;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        
    }
    
    
    .content__titel {
        font-family: Ramaraja;
        font-size: 70px;
        line-height: 76px;
        color: #1B0A42;
        margin:193px 64px 35px 200px;

    }   
        
    .content__text {
        font-family: Roboto;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.05em;
        color: #9A9A9A;
        margin: 0px 59px 72px 200px;
    }

    .content__button {
        font-family: Roboto;
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        padding: 31px 75px;
        background: #33A2E0;
        border-radius: 6px;
        border: none;
        cursor: pointer;
    }
    .content__fon {
        margin: 133px 45px 156px 0px;
    }